.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color:#FD6E0A;   
}
.dark-2{
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size:20px;
    /* font-weight: 700px; */
    font-weight: bold;
    padding: 20px 35px;
}

header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* shared styles */
nav {
    display: flex;
    text-align: center;
    margin: 0px 200px;
    justify-content: space-between;
}
.nav-tile{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    text-align: center;
    
}
nav ul li{
    list-style: none;
    margin-right:50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content:space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
   max-width: 580px;
}
.banner-greetings{
    
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-profile-pic{
    width: 580px;
}
